.a-bbb-logo-wrapper {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #adadad;
    border-radius: .5rem;
    display: grid;
    font-size: 12px;
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    justify-items: center;
    line-height: 1.25;
    overflow: hidden;
    width:164px
}

.a-bbb-logo {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #adadad;
    justify-self:center
}

.a-bbb-logo .a-icon {
    font-size:2.5rem
}

.a-bbb-text {
    background: #adadad;
    color: #fff;
    line-height: 1rem;
    padding: .75rem 1rem;
    text-align: left;
    text-transform:uppercase
}

.a-campaign-title {
    margin-bottom:0
}

@media screen and (max-width: 59.99875em) {
    .a-campaign-title {
        font-size: 1.5rem;
        line-height:1.33
    }
}

.a-icon-avatar {
    border-radius: 50%;
    display: inline-block;
    height: 2.5rem;
    position: relative;
    width:2.5rem
}

.a-icon-avatar .a-icon {
    font-size: 1.25rem;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform:translate(-50%, -50%)
}

.background-light-purple {
    background-color:#f0eaf4
}

.a-slide-in-animation {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function:ease-in-out
}

@-webkit-keyframes slideIn {
    25% {
        opacity:0
    }

    50% {
        height: 55px;
        padding-bottom:.75rem
    }

    to {
        height: 55px;
        opacity: 1;
        padding-bottom:.75rem
    }
}

@keyframes slideIn {
    25% {
        opacity:0
    }

    50% {
        height: 55px;
        padding-bottom:.75rem
    }

    to {
        height: 55px;
        opacity: 1;
        padding-bottom:.75rem
    }
}

.a-skeleton-gradient {
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: skeletonShimmy;
    animation-name: skeletonShimmy;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: -webkit-gradient(linear, left top, right top, from(#ddd), color-stop(21.08%, #e1e1e1), color-stop(48.96%, #e4e4e4), to(#ddd));
    background: linear-gradient(90deg, #ddd, #e1e1e1 21.08%, #e4e4e4 48.96%, #ddd);
    background-size: 1000px 640px;
    min-height: 1em;
    position:relative
}

@-webkit-keyframes skeletonShimmy {
    0% {
        background-position:500px 0
    }

    to {
        background-position:-500px 0
    }
}

@keyframes skeletonShimmy {
    0% {
        background-position:500px 0
    }

    to {
        background-position: -500px 0
    }
}

